.dashboard-main-horizontal-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dashboard-main-horizontal-box div {
    height: 100px;
    width: 100px;
    padding: 20px;
    text-align: center;
    margin: 5px;
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

.dashboard-main-horizontal-box div p {
    align-self: center;
    word-wrap: break-word;
    overflow-x: hidden;
}

main h1 {
    text-align: center;
}