.dashboard-main-horizontal-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dashboard-main-horizontal-box div {
    height: 100px;
    width: 100px;
    padding: 20px;
    text-align: center;
    margin: 5px;
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

.dashboard-main-horizontal-box div p {
    align-self: center;
    word-wrap: break-word;
    overflow-x: hidden;
}

main h1 {
    text-align: center;
}

/* PK4 Ü3 */
header p {
    text-shadow: 1px 1px 2px black;
    letter-spacing: 0.2em;
    font-size: 2em;
}

/* PK5 Ü5 A2 */
header p, header img {
    display: inline-block;
    vertical-align: middle;
}

/* PK5 Ü5 A3 */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

header {
    margin-bottom: 100px;
}